# C/C++ Files object files 
*.o 
*.a 
*.so 
 
# Java class files 
*.class 
 
# Python compiled files 
*.pyc 
*.pyo 
__pycache__/* 

# mac
.DS_Store

# Intellij
cpp/cmake-build-debug/*
cpp/.idea
python/.idea
CMakeLists.txt

### IntelliJ IDEA ###
java/out/
java/!**/src/main/**/out/
java/!**/src/test/**/out/
### Eclipse ###
java/.apt_generated
java/.classpath
java/.factorypath
java/.project
java/.settings
java/.springBeans
java/.sts4-cache
java/bin/
java/!**/src/main/**/bin/
java/!**/src/test/**/bin/
### NetBeans ###
java/nbproject/private/
java/nbbuild/
java/dist/
java/nbdist/
java/.nb-gradle/

### VS Code ###
java/.vscode/
